.section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.section h2 {
    font-size: 2rem;
    font-family: 'Lexend Zetta', sans-serif;
    color: #FBFADA;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 3;
    font-weight: 400;
}

.menuGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, auto);
    gap: 30px; 

}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.05);
    transition: transform 0.3s;
}

.card img {
    width: 150px; 
    height: 150px;
    object-fit: cover;
    
}

.card span {
    color: #FBFADA;
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 0.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}



@media (max-width: 900px) {
    .menuGrid {
        grid-template-columns: repeat(2, 1fr); 
    }
}